/* Estilo dos elementos do próprio site */
body {overflow: hidden;}

/* Botão flutuante */
.kttk_buttonSidebar {
  background-color: #0858ce;
  border: none;
  border-radius: 8px;
  width: 50px;
  padding: 12px;
  cursor: pointer;
  z-index: 999;
  position: fixed;
  top: 130px;
  right: 20px;
  height: 56px;
  transition: transform 0.2s;
}

.kttk_buttonSidebar:hover {
  transform: scale(1.1);
}

/* Overlay */
.kttk_overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}
.active {
  display: block;
}

/* Sidebar */
.kttk_sidebar {
  width: calc(33% + 50px);
  height: 100vh;
  background-color: #f0f4f9;
  position: fixed;
  right: calc(-33% + -100px);
  top: 0;
  transition: right 0.3s ease;
  z-index: 999;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
}

.kttk_sidebar.open {
  right: 0;
}
.kttk_detal {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background: #021550;
  padding: 28px 20px 60px 20px;
  border-bottom: 1px dotted #455588;
  border-radius: 0 0 5px 5px;
}
.kttk_naviButtons {
  position: absolute;
  right: 100%;
  top: 62px;
  gap: 12px;
  flex-direction: column;
  display: flex;
}
.kttk_naviButtons > button {
  display: block;
  max-width: 50px;
  padding: 0;
  border: 0;
  width: 50px;
  height: 50px;
  margin: 0;
  border-radius: 8px 0 0 8px;
  cursor: pointer;
}
.kttk_transferencia {
  background-color: #00ba37;
  color: #fff;
}
/* Botão de fechar */
.kttk_closedSidebar {
  background-color: #0858ce;
  color: #fff;
}
/* Título do cabeçalho */
.kttk_sidebarTitle {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 26px 20px 20px;
  align-items: center;
  color: #fff;
  font-size: 2em;
}
.kttk_closedSidebar.active {
  display: block;
}

/* Formulário */
.kttk_form {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 26px 20px 20px;
  align-items: center;
}

.kttk_form.no-titular {
  padding: 110px 20px 20px;
}
.kttk_form.no-titular > .kttk_container > .kttk_conditional {
  display: block !important;
}

/* Estilo do container principal de checkboxes */
.kttk_container {
  background: #fff;
  width: calc(100% - 40px);
  position: absolute;
  padding: 12px;
  top: -40px;
  border-radius: 8px;
  display: flex;
  gap: 8px;
  justify-content: space-around;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  align-items: center;
  flex-wrap: wrap;
}

/* Estilo dos labels */
.kttk_label {
  display: flex;
  align-items: center;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
}

.kttk_label:hover,
.kttk_editButton:hover,
.kttk_editSend:hover {
  color: #1890ff;
}

.kttk_conditional > .kttk_label,
.kttk_containerFixo > .kttk_label {
  height: auto;
  line-height: 1.5;
}

.kttk_conditional > .kttk_label:hover,
.kttk_containerFixo > .kttk_label:hover {
  color: rgba(0, 0, 0, 0.65);
}

/* Estilo dos checkboxes */
.kttk_cb {
  margin-right: 10px;
}

/* Estilo do campo condicional */
.kttk_conditional {
  width: 100%;
}

/* Estilo do input condicional */
.kttk_input {
  resize: vertical;
  box-sizing: border-box;
  margin: 0;
  font-variant: tabular-nums;
  list-style: none;
  font-feature-settings: "tnum";
  position: relative;
  color: rgba(0, 0, 0, 0.65);
  line-height: 1.5;
  background-color: #fff;
  transition: all 0.3s;
}

.kttk_input:focus,
.kttk_search:focus {
  border-color: #40a9ff;
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}

.kttk_dropdown {
  width: 100%;
  position: relative;
  padding: 5px 12px;
  color: rgba(0, 0, 0, 0.65);
  font-weight: 400;
  line-height: 22px;
  cursor: pointer;
  overflow: auto;
  max-height: 320px;
}

.kttk_containerFixo {
  background: #fff;
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  margin-top: 12px;
  position: relative;
}

.kttk_containerFim {
  width: 522px;
  padding: 12px;
  border-radius: 8px;
}
/* Estilo do campo de busca */
.kttk_search {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Estilo das opções do dropdown */
.kttk_dropdown-item {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

li.kttk_dropdownItem {
  transition: background-color 0.2s;
  list-style: none;
  padding: 12px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.kttk_dropdownItem:hover {
  background-color: #f5f5f5;
}

.kttk_dropdownItem.selected {
  background-color: #f5f5f5;
}

.kttk_input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Estilo dos botões de envio */
.kttk_containerButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}

.kttk_editSend {
  background: transparent;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 8px;
}
.kttk_send,
.kttk_sendDestaque {
  margin-top: 20px;
  padding: 12px 20px;
  background-color: #0858ce;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.kttk_send svg {
  fill: #ffffff;
  height: 20px;
  width: 20px;
  margin-left: 4px;
}

.kttk_send:hover,
.kttk_sendDestaque:hover {
  background-color: #0749b0;
}

.kttk_actionsSend {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  text-align: center;
  justify-content: center;
  margin-bottom: 12px;
}
/* Estilo dos previews */
.kttk_previewsContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 12px;
  text-align: center;
  justify-content: center;
  width: calc(100%);
  gap: 0 16px;
}

.kttk_etiInterno,
.kttk_etiExterno {
  max-width: calc(36% - -15px);
}

.kttk_msgF,
.kttk_etiInterno,
.kttk_etiExterno {
  padding: 12px;
  border-radius: 4px;
  background-color: #f9f9f9;
  font-size: 14px;
  width: 100%;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  margin-top: 12px;
}
.kttk_etiInterno .titulo,
.kttk_etiExterno .titulo,
.kttk_msgF .titulo {
  letter-spacing: 0.25px;
  font-weight: 700;
  padding-bottom: 5px;
  border-bottom: 1px solid #eddddd;
}

.kttk_etiInterno .valor,
.kttk_etiExterno .valor,
.kttk_msgF .valor {
  padding: 6px 0px;
}

/* Modal */
.kttk_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.kttk_modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 18px;
  border-bottom: 1px solid #e5e7eb;
}

.kttk_modalTitle h3 {
  margin: 0;
}

.kttk_modalClose {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
}

.kttk_modalHeader .kttk_modalClose > svg:hover {
  fill: rgba(0, 0, 0, 0.65);
}

.kttk_modalBody {
  padding: 20px 16px;
  overflow-y: auto;
}

.kttk_modalFooter {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  padding: 16px;
  border-top: 1px solid #e5e7eb;
}

.kttk_modalSend {
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 0.875rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
}

.kttk_modalSend {
  background-color: #2563eb;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  gap: 8px;
}

.kttk_modalSend:hover {
  background-color: #1d4ed8;
}

.kttk_modalContent {
  background: #fff;
  border-radius: 8px;
  width: 33%;
  max-height: 90vh;
  max-width: 700px;
}
